<footer class="footer bg-dark text-light">
  <div class="container">
    <div class="row py-3">
      <div class="col-lg">
        <ul class="list-inline small d-flex flex-wrap d-lg-block mb-lg-0">
          <li class="list-inline-item col-6 w-auto mr-0 mr-lg-3 mb-2 mb-lg-0 p-0">
            <a class="text-white label" href="#">Disclaimer</a>
          </li>
          <li class="list-inline-item col-6 w-auto mr-0 mr-lg-3 mb-2 mb-lg-0 p-0">
            <a class="text-white label" href="#">Fair Usage Policy</a>
          </li>
          <li class="list-inline-item col-6 w-auto mr-0 mr-lg-3 mb-2 mb-lg-0 p-0">
            <a class="text-white label" href="#">Privacy Notice</a>
          </li>
          <li class="list-inline-item col-6 w-auto mr-0 mr-lg-3 mb-2 mb-lg-0 p-0">
            <a class="text-white label" href="#">Speak up</a>
          </li>
          <li class="list-inline-item col-6 w-auto mr-0 mr-lg-3 mb-2 mb-lg-0 p-0">
            <a class="text-white label" href="#">Terms &amp; Conditions</a>
          </li>
        </ul>
      </div>
      <div class="col-lg">
        <p class="float-lg-right text-muted label mb-0">
          Copyright 2021 Celcom Axiata Berhad 198801000113 (167469-A). All
          Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>