<prisma-navigation></prisma-navigation>
<main style="margin-top: 88px;">
  <section
    class="pt-6 pb-4 pb-lg-6"
    style="background-color: #FFFFFF
  ;"
  >
    <div class="container">
      <div class="row row-cols-1 row-cols-lg-3">
        <div class="col-lg-8 mb-3">
          <div class="card h-100">
            <img
              class="card-img d-none d-lg-block h-100"
              src="https://via.placeholder.com/840x350"
              alt="Card image cap"
            />
            <img
              class="card-img d-block d-lg-none h-100"
              src="https://via.placeholder.com/640x480"
              alt="Card image cap"
            />
            <div class="card-img-overlay" style="top: auto;">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-3">
          <div class="card h-100">
            <img
              class="card-img-top"
              src="https://via.placeholder.com/840x441"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel carousel-cards row pb-7 pb-lg-0">
        <div class="col">
          <div class="card h-100">
            <img
              class="card-img-top"
              src="https://via.placeholder.com/840x441"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              class="card-img-top"
              src="https://via.placeholder.com/840x441"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              class="card-img-top"
              src="https://via.placeholder.com/840x441"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <ul
      class="nav nav-tabs nav-dark justify-content-center"
      style="background-color: #000;"
    >
      <li class="nav-item w-50 mb-0 text-right">
        <a
          class="nav-link h4 px-lg-5 px-4 py-3 active"
          id="mobile-tab"
          data-toggle="tab"
          href="#mobile"
          role="tab"
          aria-controls="mobile"
          aria-selected="true"
          >Mobile</a
        >
      </li>
      <li class="nav-item w-50 mb-0">
        <a
          class="nav-link h4 px-lg-5 px-4 py-3"
          id="solutions-tab"
          data-toggle="tab"
          href="#solutions"
          role="tab"
          aria-controls="solutions"
          aria-selected="false"
          >Solutions</a
        >
      </li>
    </ul>
    <div class="bg-white pt-3">
      <div class="container">
        <div class="tab-content">
          <div
            class="tab-pane fade show active"
            id="mobile"
            role="tabpanel"
            aria-labelledby="mobile-tab"
          >
            <div
              class="
                row row-cols-1 row-cols-sm-2 row-cols-lg-4
                d-flex
                justify-content-center
              "
            >
              <div class="col mb-3">
                <div class="card h-100">
                  <img
                    class="card-img-top"
                    src="https://via.placeholder.com/840x441"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      This is a longer card with supporting text below as a
                      natural lead-in to additional content. This content is a
                      little bit longer.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col mb-3">
                <div class="card h-100">
                  <img
                    class="card-img-top"
                    src="https://via.placeholder.com/840x441"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      This is a longer card with supporting text below as a
                      natural lead-in to additional content.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col mb-3">
                <div class="card h-100">
                  <img
                    class="card-img-top"
                    src="https://via.placeholder.com/840x441"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      This is a longer card with supporting text below as a
                      natural lead-in to additional content. This content is a
                      little bit longer.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col mb-3">
                <div class="card h-100">
                  <img
                    class="card-img-top"
                    src="https://via.placeholder.com/840x441"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      This is a longer card with supporting text below as a
                      natural lead-in to additional content. This content is a
                      little bit longer.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="solutions"
            role="tabpanel"
            aria-labelledby="solutions-tab"
          >
            <div
              class="row row-cols-1 row-cols-lg-3 d-flex justify-content-center"
            >
              <div class="col mb-3">
                <div class="card h-100">
                  <img
                    class="card-img-top"
                    src="https://via.placeholder.com/840x441"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      This is a longer card with supporting text below as a
                      natural lead-in to additional content. This content is a
                      little bit longer.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col mb-3">
                <div class="card h-100">
                  <img
                    class="card-img-top"
                    src="https://via.placeholder.com/840x441"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      This is a longer card with supporting text below as a
                      natural lead-in to additional content.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col mb-3">
                <div class="card h-100">
                  <img
                    class="card-img-top"
                    src="https://via.placeholder.com/840x441"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      This is a longer card with supporting text below as a
                      natural lead-in to additional content. This content is a
                      little bit longer.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col mb-3">
                <div class="card h-100">
                  <img
                    class="card-img-top"
                    src="https://via.placeholder.com/840x441"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      This is a longer card with supporting text below as a
                      natural lead-in to additional content. This content is a
                      little bit longer.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col mb-3">
                <div class="card h-100">
                  <img
                    class="card-img-top"
                    src="https://via.placeholder.com/840x441"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      This is a longer card with supporting text below as a
                      natural lead-in to additional content. This content is a
                      little bit longer.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col mb-3">
                <div class="card h-100">
                  <img
                    class="card-img-top"
                    src="https://via.placeholder.com/840x441"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      This is a longer card with supporting text below as a
                      natural lead-in to additional content. This content is a
                      little bit longer.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section style="background-color: var(--black-10);">
    <div class="container pt-6 pb-4">
      <h2 class="h2 text-center mb-4">Why choose Celcom Business?</h2>
      <div class="carousel carousel-icons">
        <div class="px-3 mb-7">
          <img
            class="mx-auto"
            src="https://celcomdesign.gitlab.io/system/iconography/svg/expressive/expressive-desktop-computer-pc-protection-monitor-internet-usage.svg"
            alt=""
            width="80"
            height="80"
            title="Monitor Internet Usage"
          />
          <h5 class="h5 text-center">Monitor Internet Usage</h5>
          <p class="text-center">
            Track data consumption across the board anytime, anywhere
          </p>
        </div>
        <div class="px-3 mb-7">
          <img
            class="mx-auto"
            src="https://celcomdesign.gitlab.io/system/iconography/svg/expressive/expressive-increase-engagement.svg"
            alt=""
            width="80"
            height="80"
            title="Flexible Data Sharing"
          />
          <h5 class="h5 text-center">Flexible Data Sharing</h5>
          <p class="text-center">
            Allocate quota across the organisation seamlessly
          </p>
        </div>
        <div class="px-3 mb-7">
          <img
            class="mx-auto"
            src="https://celcomdesign.gitlab.io/system/iconography/svg/expressive/expressive-savings.svg"
            alt=""
            width="80"
            height="80"
            title="Maximise Savings"
          />
          <h5 class="h5 text-center">Maximise Savings</h5>
          <p class="text-center">Save more when you buy more</p>
        </div>
        <div class="px-3 mb-7">
          <img
            class="mx-auto"
            src="https://celcomdesign.gitlab.io/system/iconography/svg/expressive/expressive-windows-virtual-dekstop.svg"
            alt=""
            width="80"
            height="80"
            title="Celcom Business Portal"
          />
          <h5 class="h5 text-center">Celcom Business Portal</h5>
          <p class="text-center">
            Manage your accounts easily with a single touch
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="pt-6 pb-4" style="background-color: #000;">
    <div class="container">
      <div class="carousel carousel-cards row pb-7 pb-lg-3">
        <div class="col">
          <div class="card h-100">
            <img
              class="card-img-top"
              src="https://via.placeholder.com/840x441"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              class="card-img-top"
              src="https://via.placeholder.com/840x441"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              class="card-img-top"
              src="https://via.placeholder.com/840x441"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<prisma-footer></prisma-footer>
